section{
    padding:2rem 9%;
  }

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    font-size: 20px;
    justify-content: space-between;
  }

  .footer .box-container .box{
    padding:0.5rem 0;
    flex:auto;
    height: 380px;
    width: 250px;
    font-size: 10px;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .box-container .box p{
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  
  h3,a{
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

li{
    list-style:none;
    color: white;
}

.box>img{
    padding: 0.5rem;
}

.box>img:hover{
    cursor: pointer;
}



  